.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    max-height: 250px;
    margin-right: 10px;
    border: transparent;
    cursor: pointer;
}
.small-poster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.01);
}
.small-poster:hover{
    transform: scale(1.01);
}
.no-video-message {
  color: #f00;
  margin-top: 2px;
  font-weight: bold;
  padding: 5px;
}